# OLA3
### Gruppe H (Caroline og Maria)

In [1]:
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
import seaborn as sns

In [2]:
shootings_df1 = pd.read_excel('Dataset/Mother_Jones_-_Mass_Shootings_Database_1982_-_2019.xlsx', 
                              na_values='-')
shootings_df2 = pd.read_excel('Dataset/Mass_Shootings_Dataset.xlsx')

In [3]:
shootings_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              149 non-null    object
 1   location                          149 non-null    object
 2   date                              149 non-null    datetime64[ns]
 3   summary                           149 non-null    object
 4   fatalities                        149 non-null    int64
 5   injured                           149 non-null    int64
 6   total_victims                     149 non-null    int64
 7   location.1                        149 non-null    object
 8   age_of_shooter                    147 non-null    float64
 9   prior_signs_mental_health_issues  119 non-null    object
 10  mental_health_details             103 non-null    object
 11  weapons_obtained_legally          130 non-null    object
 12  where_obtained                    98 non-null     object
 13  weapon_type                       149 non-null    object
 14  weapon_details                    121 non-null    object
 15  race                              137 non-null    object
 16  gender                            149 non-null    object
 17  sources                           149 non-null    object
 18  mental_health_sources             90 non-null     object
 19  sources_additional_age            100 non-null    object
 20  latitude                          126 non-null    float64
 21  longitude                         126 non-null    float64
 22  type                              149 non-null    object
 23  year                              149 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(16)
memory usage: 28.1+ KB

In [4]:
shootings_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S#                    398 non-null    int64
 1   Title                 398 non-null    object
 2   Location              398 non-null    object
 3   Date                  398 non-null    object
 4   Summary               397 non-null    object
 5   Fatalities            398 non-null    int64
 6   Injured               398 non-null    int64
 7   Total victims         398 non-null    int64
 8   Mental Health Issues  398 non-null    object
 9   Race                  395 non-null    object
 10  Gender                397 non-null    object
 11  Latitude              378 non-null    float64
 12  Longitude             378 non-null    float64
dtypes: float64(2), int64(4), object(7)
memory usage: 40.6+ KB

In [5]:
shootings_df2

,S#,Title,Location,Date,Summary,Fatalities,Injured,Total victims,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Las Vegas Strip mass shooting,"Las Vegas, Nevada",10/1/2017,NaN,58,515,573,Unclear,NaN,NaN,NaN,NaN
1,2,San Francisco UPS shooting,"San Francisco, California",6/14/2017,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,Yes,Asian,M,NaN,NaN
2,3,Pennsylvania supermarket shooting,"Tunkhannock, Pennsylvania",6/7/2017,"Randy Stair, a 24-year-old worker at Weis groc...",3,0,3,Unclear,White,M,NaN,NaN
3,4,Florida awning manufacturer shooting,"Orlando, Florida",6/5/2017,"John Robert Neumann, Jr., 45, a former employe...",5,0,5,Unclear,NaN,M,NaN,NaN
4,5,Rural Ohio nursing home shooting,"Kirkersville, Ohio",5/12/2017,"Thomas Hartless, 43, shot and killed a former ...",3,0,3,Yes,White,M,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,394,Clara Barton Elementary School,"Chicago, Illinois",1/17/1974,"On January 17, 1974, a 14-year-old student ent...",1,3,4,Yes,Unknown,Male,41.839280,-87.688181
394,395,New Orleans Police Shootings,"New Orleans, Louisiana",12/31/1972,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,13,22,Yes,Black American or African American,Male,30.068724,-89.931474
395,396,St. Aloysius Church,"Spokane, Washington",11/11/1971,"On November 11, 1971, a former MIT student ent...",2,4,5,Yes,White American or European American,Male,47.673674,-117.415984
396,397,Rose-Mar College of Beauty,"Mesa, Arizona",11/12/1966,"On November 12, 1966, an 18-year-old high scho...",5,1,6,Yes,White American or European American,Male,33.422687,-111.816320
397,398,University of Texas at Austin,"Austin, Texas",8/1/1966,"On August 1, 1966, a 25-year-old engineering s...",17,32,48,Yes,White American or European American,Male,30.198887,-97.844159

In [6]:
# rename to merge
shootings_df2.columns = shootings_df2.columns.str.lower()

dfs = [shootings_df1, shootings_df2]
for df in dfs:
    df.rename(columns={'title': 'case', 'total victims': 'total_victims', 
                       'location.1': 'place', 
                       'mental health issues': 'prior_signs_mental_health_issues'}, 
              inplace=True)

In [7]:
shootings_df1['date'] = pd.to_datetime(shootings_df1['date'])
shootings_df2['date'] = pd.to_datetime(shootings_df2['date'])

In [8]:
# Concat dfs
shootings_df = pd.concat([shootings_df1, shootings_df2], ignore_index=True)

In [9]:
# Check for duplicates
columns_to_check = ['date', 'fatalities', 'injured', 'total_victims', 
                    'summary']

shootings_df = shootings_df.drop_duplicates(subset=columns_to_check)
shootings_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 466 entries, 0 to 546
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              466 non-null    object
 1   location                          466 non-null    object
 2   date                              466 non-null    datetime64[ns]
 3   summary                           465 non-null    object
 4   fatalities                        466 non-null    int64
 5   injured                           466 non-null    int64
 6   total_victims                     466 non-null    int64
 7   place                             149 non-null    object
 8   age_of_shooter                    147 non-null    float64
 9   prior_signs_mental_health_issues  436 non-null    object
 10  mental_health_details             103 non-null    object
 11  weapons_obtained_legally          130 non-null    object
 12  where_obtained                    98 non-null     object
 13  weapon_type                       149 non-null    object
 14  weapon_details                    121 non-null    object
 15  race                              452 non-null    object
 16  gender                            465 non-null    object
 17  sources                           149 non-null    object
 18  mental_health_sources             90 non-null     object
 19  sources_additional_age            100 non-null    object
 20  latitude                          438 non-null    float64
 21  longitude                         438 non-null    float64
 22  type                              149 non-null    object
 23  year                              149 non-null    float64
 24  s#                                317 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(16)
memory usage: 94.7+ KB

In [10]:
shootings_df.to_csv('Dataset/Combined_Mass_Shootings_1966-2023.csv')
shootings_df.to_excel('Dataset/Combined_Mass_Shootings_1966-2023.xlsx')

In [11]:
shootings_df['location'].value_counts()

location
Las Vegas, Nevada            6
Chicago, Illinois            6
Seattle, Washington          6
Los Angeles, California      5
Killeen, Texas               5
                            ..
Iuka, Mississippi            1
Hedingham, North Carolina    1
Vallejo, California          1
Muskegon, Michigan           1
Austin, Texas                1
Name: count, Length: 295, dtype: int64

In [12]:
# regex for finding age of shooter for e.g. FirstName LastName, 20,
pattern1 = r'\b, (\d{1,2}),'
# regex for finding age of shooter for e.g. 20-year-old and 20 year-old
pattern2 = r'\b(\d{1,3})[- ]?(?:year)[- ]?old\b'
# regex for finding multiple shooters age
pattern3 = r'\b(?:aged|ages?|age)\s+(\d{1,3})[,\s]'

shootings_df['age_of_shooter'] = shootings_df['age_of_shooter'].fillna(shootings_df['summary'].str.extract(pattern1)[0])
shootings_df['age_of_shooter'] = shootings_df['age_of_shooter'].fillna(shootings_df['summary'].str.extract(pattern2)[0])
shootings_df['age_of_shooter'] = shootings_df['age_of_shooter'].fillna(shootings_df['summary'].str.extract(pattern3)[0])

In [13]:
shootings_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 466 entries, 0 to 546
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              466 non-null    object
 1   location                          466 non-null    object
 2   date                              466 non-null    datetime64[ns]
 3   summary                           465 non-null    object
 4   fatalities                        466 non-null    int64
 5   injured                           466 non-null    int64
 6   total_victims                     466 non-null    int64
 7   place                             149 non-null    object
 8   age_of_shooter                    319 non-null    object
 9   prior_signs_mental_health_issues  436 non-null    object
 10  mental_health_details             103 non-null    object
 11  weapons_obtained_legally          130 non-null    object
 12  where_obtained                    98 non-null     object
 13  weapon_type                       149 non-null    object
 14  weapon_details                    121 non-null    object
 15  race                              452 non-null    object
 16  gender                            465 non-null    object
 17  sources                           149 non-null    object
 18  mental_health_sources             90 non-null     object
 19  sources_additional_age            100 non-null    object
 20  latitude                          438 non-null    float64
 21  longitude                         438 non-null    float64
 22  type                              149 non-null    object
 23  year                              149 non-null    float64
 24  s#                                317 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(17)
memory usage: 94.7+ KB

In [14]:
features = ['location', 'date', 'fatalities', 'injured', 
            'place', 'age_of_shooter', 
            'prior_signs_mental_health_issues', 'weapon_type',
            'race', 'gender', 'latitude', 'longitude']
target = 'total_victims'